name: Laravel Deploy

on:
  workflow_call:
    inputs:
      php-version:
        description: 'PHP version to be used.'
        required: true
        type: string
      node-version:
        description: 'Node.js version to be used.'
        required: true
        type: string
      rsync-exclude:
        description: 'File containing list of items to exclude during RSYNC.'
        required: false
        type: string
        default: 'deploy/rsync/exclude.txt'
      ssh-user:
        description: 'SSH user to be used.'
        required: true
        type: string
      ssh-host:
        description: 'SSH hostname to be used.'
        required: true
        type: string
      ssh-port:
        description: 'SSH port to be used.'
        required: false
        type: number
        default: 22
      destination-path:
        description: 'Path to production folder.'
        required: true
        type: string
    secrets:
      composer-auth:
        description: 'Credentials used to access private Composer repositories'
        required: false
      ssh-private-key:
        description: 'SSH private key to be used.'
        required: true

jobs:
  deploy:
    name: Laravel Deploy

    # https://github.com/actions/runner-images/tree/main/images/linux
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Laravel
        uses: dascentral/reusable-workflows/.github/actions/laravel-setup@v0.4.2
        with:
          php-version: ${{ inputs.php-version }}
          node-version: ${{ inputs.node-version }}
          composer-auth: ${{ secrets.composer-auth }}
          composer-dev: 'false'

      - name: Generate application key
        run: php artisan key:generate

      - name: Build front-end assets
        run: npm run build

      - name: Set up SSH
        uses: dascentral/reusable-workflows/.github/actions/ssh-setup@v0.4.2
        with:
          ssh-private-key: ${{ secrets.ssh-private-key }}
          ssh-host: ${{ inputs.ssh-host }}
          ssh-port: ${{ inputs.ssh-port }}

      - name: Deploy via RSYNC
        run: |
          rsync -avz --delete --delete-before -e "ssh -p ${{ inputs.ssh-port }}" --exclude-from=${{ inputs.rsync-exclude }} ./ ${{ inputs.ssh-user }}@${{ inputs.ssh-host }}:${{ inputs.destination-path }}

      - name: Reset the Laravel application
        run: |
          ssh -p ${{ inputs.ssh-port }} ${{ inputs.ssh-user }}@${{ inputs.ssh-host }} "bash -s" << 'EOF'
            set -e
            DESTINATION="${{ inputs.destination-path }}"
            find $DESTINATION -type d -exec chmod 755 {} \;
            find $DESTINATION -type f -exec chmod 644 {} \;
            chmod -R ug+rw $DESTINATION/storage
            chmod -R ug+rw $DESTINATION/bootstrap/cache
            php${{ inputs.php-version }} $DESTINATION/artisan migrate --force
            php${{ inputs.php-version }} $DESTINATION/artisan optimize
            php${{ inputs.php-version }} $DESTINATION/artisan horizon:terminate
          EOF
