name: Laravel Tests

on:
  workflow_call:
    inputs:
      php-version:
        description: 'PHP version to be used.'
        required: true
        type: string
      node-version:
        description: 'Node.js version to be used.'
        required: false
        type: string
        default: '24.11.0'
      mysql-image:
        description: 'MySQL image to be used.'
        required: false
        type: string
        default: 'mysql:8'
    secrets:
      composer-auth:
        description: 'Credentials used to access private Composer repositories'
        required: false

jobs:
  tests:
    name: Laravel Test Suite

    if: github.actor != 'dependabot[bot]'

    timeout-minutes: 30

    # https://github.com/actions/runner-images/tree/main/images/linux
    runs-on: ubuntu-latest

    services:
      mysql:
        image: ${{ inputs.mysql-image }}
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: testing
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping --silent"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Laravel
        uses: dascentral/reusable-workflows/.github/actions/laravel-setup@v0.4.2
        with:
          php-version: ${{ inputs.php-version }}
          node-version: ${{ inputs.node-version }}
          php-coverage: xdebug
          composer-auth: ${{ secrets.composer-auth }}

      - name: Generate application key
        run: php artisan key:generate

      - name: Build front-end assets
        run: npm run build

      - name: Run tests
        run: php artisan test

      # - name: Run tests with coverage
      #   run: |
      #     php artisan test --coverage
      #     php artisan test:coverage --min=80

      # - name: Upload coverage report
      #   uses: codecov/codecov-action@v4
      #   with:
      #     token: ${{ secrets.CODECOV_TOKEN }}
      #     fail_ci_if_error: true
